/* table {
    background-color: blue;
} */

.container {

}

.square {
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: #cccccc;
    margin: 0 auto;
    font-size: 80px;
}

.row {
    width: 100%;
}

tr .row2 {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

tr .col2 {
    border-left: 2px solid red;
    border-right: 2px solid red;
}

h1 {
    margin-top: 0;
    margin-bottom: 50px;
  }