body {
  background-color: #6E7E8E;
  font-family: Verdana;
  color: #eee;
  padding: 30px;
  }

h1 {
  font-size: 40px; 
  text-transform: uppercase; 
  letter-spacing: 2px;
}

p {
  font-size: 16px;
}

li {
  list-style: none;
}